In [1]:
import pandas as pd
import numpy as np
import json
import spacy

In [2]:
list_Full = list()
list_Ang = list()
with open('data_copy/training.jsonl', encoding="utf8") as f:
    lines = f.readlines()
for line in lines:
    json_as_dict = json.loads(line)
    list_Full.append(json_as_dict)
    if not json_as_dict["annotation_approver"] and not json_as_dict["labels"]:
        pass
    else:
        if json_as_dict["labels"]:
            list_Ang.append(json_as_dict)

In [5]:
df = pd.DataFrame(list_Full) 
df.shape

(10513, 6)

In [7]:
df_Ang = pd.DataFrame(list_Ang) 
df_Ang.shape

(746, 6)

In [8]:
df_Ang.head()

,id,text,meta,annotation_approver,labels,section
0,6227,"'Selfies' en 3D, el arte de imprimir a tu sueg...",{},None,"[[1, 8, ENG]]",technology
1,6247,"El brexit, bajo el microscopio",{},None,"[[3, 9, ENG]]",technology
2,6266,"‘Wearables’, robots y coches del futuro: diez ...",{},None,"[[1, 10, ENG]]",technology
3,6270,Un empresario australiano le dice a la BBC que...,{},None,"[[58, 65, ENG]]",technology
4,6272,Díaz Ferrán gastó 47.900 euros en restaurantes...,{},None,"[[83, 88, ENG]]",economy

In [9]:
df_Ang.to_csv(r'annotation_anglicisms.csv', index=None, header=True)